* {
    margin: 0px;
    padding: 0px;
}

.back__space {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    height: 100vh;
    width: 100%;
}

.front__space {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1100px;
}

.table__space {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background: rgb(233, 222, 222); */
    width: 800px;
    height: 700px;
}

.buttons__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background: #000; */
    width: 380px;
    height: 70px;
}

.table__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(53, 34, 5);
    width: 800px;
    height: 600px;
    border-radius: 80px;
    border: 2px solid rgba(0, 0, 0, 0.336);
    box-shadow: 0px 0px 4px rgb(146, 91, 28);
}

.table__main {
    border-radius: 80px;
    background: rgb(20, 61, 7);
    height: 550px;
    width: 750px;
    border: 2px solid rgba(0, 0, 0, 0.418);
}

.inner_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    /* width: 76px; */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    height: 80px;
    background: cornsilk;
    border-radius: 7px;
    box-shadow: 2px 2px 8px rgb(181, 247, 247);
    border: 1px solid rgba(63, 60, 60, 0.568);
}

.card__hidden_4 {
    background: url('../img/side.png') center center/cover no-repeat;
    transform: translate(-675px, -108px);
}

.card__hidden_5 {
    background: url('../img/side.png') center center/cover no-repeat;
    transform: translate(-775px, -108px);
}

.card__appear {
    transform: translate(0);
    transition: 0.8s all;
}

.card__container {
    display: none;
}

.card__wrapper0 {
    position: relative;
    left: -3.1px;
    top: 0.5px;
    box-shadow: none;
    background: url('../img/side.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.card__wrapper1 {
    position: relative;
    left: -2.5px;
    top: 1px;
    width: 60px;
    height: 80px;
    background: cornsilk;
    border-radius: 7px;
    /* box-shadow: 2px 2px 7px rgb(181, 247, 247); */
    border: 1px solid rgba(63, 60, 60, 0.568);
}
.card__wrapper2 {
    position: relative;
    left: -3px;
    top: 0.5px;
    width: 60px;
    height: 80px;
    background: cornsilk;
    border-radius: 7px;
    /* box-shadow: 2px 2px 7px rgb(181, 247, 247); */
    border: 1px solid rgba(63, 60, 60, 0.568);
}
.card__wrapper3 {
    position: absolute;
    width: 60px;
    height: 80px;
    background: cornsilk;
    border-radius: 7px;
    box-shadow: 2px 2px 20px rgb(181, 247, 247);
    border: 1px solid rgba(63, 60, 60, 0.568);
}




.enemy__cards {
    /* background: chartreuse; */
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle__cards {
    /* background: chartreuse; */
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my__cards {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slot {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slot__middle {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slot__my {
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



img{
    width: 20px;
    height: 20px; 
    margin: 10px;
    margin-left: 19px;
}


.digit__left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
}

.digit__right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    height: 20px;
    width: 20px;
}

.btn__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
}

button {
    background: rgb(226, 46, 46);
    height: 60px;
    width: 100px;
    font-family: 'Coiny', cursive;
    font-size: 16px;
    line-height: 60px;
    border-radius: 25px;
    border: 2px solid rgb(27, 27, 54);
    color: rgb(255, 255, 255);
    transition: 0.6s ease;
    cursor: pointer;
    text-transform: uppercase;

    
}

button:hover {
    opacity: 1;
    box-shadow: 0px 0px 15px rgb(181, 247, 247);
    
}

button:active {
    transform: scale(0.9, 0.9)
}



/* #exp {

} */