* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.overlay {
    width: 100%;
    height: 100%;
    background: #a38e8e74;
    position: fixed;
    z-index: 100;
}

.modal {
    width: 700px;
    height: 500px;
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.modal_content {
    position: relative;
    width: 100%;
    height: 100%;
    background: #2f962c;
    padding: 10px;
}

.modal_wrapper {
    position: relative;
}

.greating_text {
    padding: 10px;
    width: 350px;
    height: 200px;
    position: absolute;
    left: 50px;
    top: 50px;
}

.speach {
    width: 400px;
    height: 300px;
    display: block;
}

.my_persone {
    display: block;
    height: 300px;
    width: 300px;
    position: absolute;
    right: -30px;
    top: 150px;
}


.start_game {
    width: 100px;
    height: 50px;
    background-color: brown;
    margin-left: 160px;
    cursor: pointer;
}

.back__space {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #333;
    height: 100vh;
}

.front__space {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1100px;
}

.table__space {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 700px;
}

.buttons__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 380px;
    height: 70px;
}

.table__bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(53, 34, 5);
    width: 800px;
    height: 600px;
    border-radius: 30%;
    border: 2px solid rgba(0, 0, 0, 0.336);
    box-shadow: 0px 0px 4px rgb(146, 91, 28);
}

.table__main {
    border-radius: 30%;
    background: rgb(20, 61, 7);
    height: 550px;
    width: 750px;
    border: 2px solid rgba(0, 0, 0, 0.418);
}

.inner_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60px;
    height: 80px;
    background: cornsilk;
    border-radius: 7px;
    box-shadow: 2px 2px 6px rgba(181, 247, 247, 0.66);
    border: 1px solid rgba(63, 60, 60, 0.568);
}

.card__appear {
    transform: translate(0);
    transition: 0.8s all;
}

.card__left {
    transform: rotate(-15deg) translate(7px, 0px);
}
.card__right {
    transform: rotate(15deg) translate(-7px, 0px);
}

.card__hidden__player_1 {
    background: url('../img/side.png') center center/cover no-repeat;
    transform: translate(-543px, 102px);
    box-shadow: none;
}

.card__hidden__player_2 {
    background: url('../img/side.png') center center/cover no-repeat;
    transform: translate(-604px, 102px);
    box-shadow: none;
}

.card__hidden__player_3 {
    background: url('../img/side.png') center center/cover no-repeat;
    transform: translate(-543px, -318px);
    box-shadow: none;
}
.card__hidden__player_4 {
    background: url('../img/side.png') center center/cover no-repeat;
    transform: translate(-604px, -318px);
    box-shadow: none;
}

.card__hidden_1 {
    background: url('../img/side.png') center center/cover no-repeat;
    transform: translate(-373px, -108px);
    box-shadow: none;
}
.card__hidden_2 {
    background: url('../img/side.png') center center/cover no-repeat;
    transform: translate(-473px, -108px);
    box-shadow: none;
}
.card__hidden_3 {
    background: url('../img/side.png') center center/cover no-repeat;
    transform: translate(-573px, -108px);
    box-shadow: none;
}

.card__hidden_4 {
    background: url('../img/side.png') center center/cover no-repeat;
    transform: translate(-675px, -108px);
    box-shadow: none;
}

.card__hidden_5 {
    background: url('../img/side.png') center center/cover no-repeat;
    transform: translate(-775px, -108px);
    box-shadow: none;
}

.card__container {
    display: none;
}

.card__wrapper0 {
    position: relative;
    left: -3px;
    top: 0.5px;
    box-shadow: none;
    background: url('../img/side.png') no-repeat;
    background-size: cover;
    z-index: 10;
    background-position: center;
}

.card__wrapper1 {
    position: relative;
    left: -2.5px;
    top: 1px;
    width: 60px;
    height: 80px;
    background: cornsilk;
    border-radius: 7px;
    /* box-shadow: 2px 2px 7px rgb(181, 247, 247); */
    border: 1px solid rgba(63, 60, 60, 0.568);
}
.card__wrapper2 {
    position: relative;
    left: -3px;
    top: 0.5px;
    width: 60px;
    height: 80px;
    background: cornsilk;
    border-radius: 7px;
    /* box-shadow: 2px 2px 7px rgb(181, 247, 247); */
    border: 1px solid rgba(63, 60, 60, 0.568);
}
.card__wrapper3 {
    position: absolute;
    width: 60px;
    height: 80px;
    background: cornsilk;
    border-radius: 7px;
    box-shadow: 2px 2px 20px rgb(181, 247, 247);
    border: 1px solid rgba(63, 60, 60, 0.568);
}




.enemy__cards {
    /* background: chartreuse; */
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.middle__cards {
    /* background: chartreuse; */
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.my__cards {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slot {
    display: flex;
}

.slot__middle {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}




img{
    width: 20px;
    height: 20px; 
    margin: 10px;
    margin-left: 19px;
}


.digit__left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
}

.digit__right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    height: 20px;
    width: 20px;
}

.btn__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
}

.user-btn {
    background: rgb(226, 46, 46);
    height: 60px;
    width: 100px;
    font-family: 'Coiny', cursive;
    font-size: 16px;
    line-height: 60px;
    border-radius: 25px;
    border: 2px solid rgb(27, 27, 54);
    color: rgb(255, 255, 255);
    transition: 0.6s ease;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    opacity: 1;
    box-shadow: 0px 0px 15px rgb(181, 247, 247);
    
}

button:active {
    transform: scale(0.9, 0.9)
}





.aside {
    height: 100vh;
    width: 300px;
    padding: 0 10px;
}

.main-buttons {
    margin-top: 30px;
    text-align: end;
}

.menu-btn {
    background: rgb(236, 233, 101);
    height: 25px;
    width: 60px;
    font-size: 10px;
    line-height: 25px;
    font-family: 'Coiny', cursive;
    border-radius: 5px;
    border: 2px solid #000;
    color: rgb(0, 0, 0);
    transition: 0.6s ease;
    cursor: pointer;
    text-transform: uppercase;
}

.title {
    margin-top: 25px;
    text-align: center;
    font-family: 'Coiny', cursive;
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    text-shadow: 0 0 8px rgb(59, 41, 41);
    
}

.stats {
    width: 100%;
    height: 130px;
    border-radius: 20px;
    background: #709656;
    padding: 10px 20px;
}

table {
    border-collapse: collapse;
}



th {
    height: 30px;
    background-color: #709656;
    padding: 0 3px;
    font-size: 12px;
    font-weight: 700;
}

th.player {
    
    background: #edf7ceb0;
}

td {
    width: 55px;
    text-align: center;
    background: #edf7ceb0;
}

.player {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    color: #060606;
}


.hints {
    margin-top: 100px;
    padding: 15px;
    min-height: 250px;
    width: 100%;
    border-radius: 20px;
    background: #ecf6ae5b;
    border: 2px solid rgb(65, 45, 6);
}

.hint-title {
    text-align: center;
}

.hint-text {
    margin-top: 20px;
    font-size: 14px;
    text-align: justify;
}

.hint-img {
    display: block;
    margin: 10px auto 0 auto;
    width: 80px;
    height: 80px;
}